@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

:root{
    --base-color: #5C7C89;
    --text-color: #242424;
    --primary-color: #7fa4b3;
    --secondary-color: #161529;
    --color-1: #C9A77B;
    --color-2: #FFFFFF;
    --color-3: #F6F3F9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
html {
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-color);
}
body {
    background-color: var(--base-color);
  }
  
h1, h2, h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--secondary-color);
}

.header-nav{
    margin: 1em auto 3em auto;
    padding-top: 2em;
    width: min(1000px, 100%);
}

.header-nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;
}

.header-nav li:first-child{
    margin-right:auto;
    font-family: 'Courier New', Courier, monospace;
}

.header-nav a {
    text-decoration: none;
    color: var(--color-2);
    font-size: large;
}

.header-nav a:hover{
    text-decoration: underline;
    font-weight:bolder;
}

header, section{
    margin: 2em auto;
    width: 100%;
    background-color: var(--secondary-color);
    padding: .5em;
}

body, section{
    background-color: var(--color-2);
}


.image-container{
    padding-left: 5em;
    display: block;
    background-color: yellow;
    margin-bottom: 4em;
}

img{
    border-radius: 15px;
    max-width: 100%;
    object-fit: cover;
    object-position: bottom;
    border: 5px double var(--secondary-color);
    float:left;
    margin-right: 2em;

    
}

.text-container h1{
    display: flex;
    font-size: xxx-large;
    font-weight: bolder;
    margin-bottom: .5em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#idAboutMe{
    font-size: x-large;
    font-weight: bolder;
    margin-bottom: .5em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#aboutclass{
    margin-left: 2em;
    padding-left: 3em;
}

#intro{
    margin-left: 2em;
    padding-left: 3em;
    
}

.flex-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
}


#idProjects{
    clear:both;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: bold;
    background-color: var(--secondary-color);
    color:var(--color-2);
    margin: 2em auto;
    width: 100%;
    padding: min(1em, 15%);
}

.text-container{
    padding: 2em;
}

ul{
    list-style: none;
}

.proj-title{
    list-style: none;
    clear: both;
    justify-content: center;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    margin-bottom: .5em;
}


.proj-image{
    margin: 0 auto;
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
    clear: both;
    justify-content:center;
    align-items:center;
    margin-bottom: 1em;
}

.proj-button{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    margin-bottom: 1em;
    background-color: var(#c7cbcc);
    color: var(--secondary-color);
    padding: 10px 16px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.proj-desc{
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 1em;
    text-align: center;
}

.contact a{
    vertical-align: auto;
}



.footer-nav{
    margin: 1em auto 3em auto;
    width: min(1000px, 100%);
}

.footer-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 4em;
}

.footer-nav a {
    text-decoration: none;
    color: var(--color-2);
    font-size: larger;

}

.footer-nav a:hover{
    text-decoration: underline;
    font-weight: bold;
}

footer, section{
    background-color: var(--secondary-color);
    margin: 0;
    width: 100%;
    padding: 2em;
}

